#about {
background: #e1eff2;
padding: 50px 0px;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me--img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me--style {
  scale: 1.27;
  height: 345px;
  width: 345px
} 

.about__me--img:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  border-radius: 1rem;
}

.about__card:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;  
}

.about__card:hover > small {
  color: var(--color-primary) !important; 
  font-weight: 600;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.9rem;
}
.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin-bottom: 1rem;
  color: var(--color-black);
}

.about_link:hover {
  color: var(--color-primary-secondary);
}

.text-light-small {
  color: var(--color-light) !important; 
  font-weight: 400;
}

@media screen and (min-width: 1436px) {
  .about__me {
    width: 90%;
  }

  .about__me--style {
    scale: 1.1;
    height: 438px;
    width: 455px;
  }
}


/* ++++++++++++ MEADIA QUERIES (MEDIUM DEVICE) +++++++++++ */

@media screen and (max-width: 1024px) {
  #about h2 {
    margin-bottom: 0px;
  }

  .about__container {
    padding: 0;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    background: none;
    margin: 2rem auto 4rem;
  }


  .about__me--style {
    scale: 1;
    height: 300px;
    width: 380px
  } 

  .about__me--img {   
    transform: rotate(0deg);
  }




  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}



/* ++++++++++++ MEADIA QUERIES (MEDIUM DEVICE) +++++++++++ */
@media screen and (max-width: 600px) {
  .about__me {
    /* width: 65%; */
    margin: 0 auto 3rem;
    width: 100%;
    background: none;
    aspect-ratio: 1/1;
    border-radius: 2rem;  
    display: grid;
    place-items: center;
  }

  .about__me--style {
    scale: 1;
     height: 300px;
    width: 380px
  } 

  .about__me--img {   
    transform: rotate(0deg);
  }

  .about__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.2rem 0;
    text-align: justify;
  }  
}



/* ++++++++++++ MEADIA QUERIES (SMALL DEVICE) +++++++++++ */
@media screen and (max-width: 480px) {
  .about__me--img {   
    transform: rotate(0deg);
  }

  .about__me--style {
    scale: 1;
    height: 230px;
    width: 280px
  } 
}








