header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* .margin_top {
  margin: 10px 0;
} */

/* ++++++++++ CTA +++++++++++ */

.cta {
  margin-top: 2.3rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/* ++++++++++ HEADER SOCIALS +++++++++++ */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}


.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--color-primary);
}

.header__socials-icon {
  font-size: 1rem;
}

/* ++++++++++ MY IMAGES +++++++++++ */

.me {
  /* display: grid;
  place-items: center; */
  background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  /* height: 70rem; */
  position: absolute;
  /* left: calc(50% - 11rem); */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3rem;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  border-radius: 12rem 12rem 0 0;
}

.me_img {
  height: 300px;
  transform: rotate(-5deg);
}

/* ++++++++++ SCROLL DOWN +++++++++++ */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 400;
  font-size: 0.9rem;
}

/* ++++++++++++ MEADIA QUERIES (BIG DEVICE) +++++++++++ */
@media screen and (min-width: 1436px) {
  header {
    height: 100vh;
  }

  .me {
    margin-top: 6rem;
    width: 25rem;
    height: 27rem;
  }

  .me_img {
    height: 450px;
    transform: rotate(-5deg);
  }

  .margin_top {
    margin: 25px 0;
    font-size: 1.5rem;
  }

  .header_title {
    font-size: 3rem;
    font-weight: 600;
  }

  .header__socials-icon {
    font-size: 1.7rem;
  }
}

/* ++++++++++++ MEADIA QUERIES (MEDIUM DEVICE) +++++++++++ */

@media screen and (max-width: 1024px) {
  header {
    height: 100vh;
  }

  .margin_top {
    margin: 14px 0;
    font-size: 1rem;
  }

  .me {
    margin-top: 5rem;
  }
}

/* ++++++++++++ MEADIA QUERIES (SMALL DEVICE) +++++++++++ */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .margin_top {
    margin: 12px 0;
    font-size: 1rem;
  }

  .me {
    margin-top: 4rem;
    width: 22rem;
    height: 34rem;
    padding: 25px 7px 0px 12px;   
  }

  .me_img {
    height: 450px;  
    transform: rotate(-5deg);
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
