footer {
    background: var(--color-primary);
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem 0;
}

footer a {
    color: var(--color-bg)
}

.footer_logo {
    font-size: 2rem;
    display: inline-block;
    margin: 0rem 0rem .5rem 0rem;
    font-weight: 700;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1.5rem;
    font-size: 1rem;    
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
    color: var(--color-bg);
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
    
}